body {
	margin: 0px !important;
    height: auto;
    min-height: 100vh;
	overflow: hidden;
}
.container {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	/* min-height: -webkit-fill-available; */
	height: auto;
	min-height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner h1 {
	margin: 10px;
	margin-bottom: 20px;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	font-size: 32px;
	font-weight: bold;
  	text-align: center;
}

.banner input {
	font-size: 20px;
	color: white;
	opacity: 0.7;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	text-align: center;
}
.banner a {
	margin-left: 16px;
	margin-right: 16px;
	font-size: 45px;
}
.music-player {
	display: flex;
	justify-content: center;
	align-items: center;
}
.email {
	display: flex;
	justify-content: center;
	align-items: center;
}
#mc-embedded-subscribe-form {
	background: rgba(0,0,0,0.4);
	border: 2px solid white;
	padding: 10px !important;
    position: relative;
}
.btn {
	color: white;
	font-size: 30px;
}
.btn:hover {
	color: rgb(28, 214, 53);
	font-size: 42px;
}
#mc_embed_signup {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
#mc_embed_signup_scroll label {
	color: white;
	padding: 20px !important;
}
.button{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color:rgba(0,0,0,0.7) !important;
	text-align:center;
	transition: all 0.2s;
}
.button:hover {
	background-color:rgb(28, 214, 53) !important;
}
@media all and (max-width:30em){
	button{
		display:block;
		margin:0.2em auto;
	 }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.container {
		background-image: url(mobile.jpg);
		grid-template-rows: 1fr 3fr 1fr;
		min-height: -webkit-fill-available;
		height: calc(100vh - 56px);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.container {
		background-image: url(mobile.jpg)
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
	.container {
		background-image: url(desktop.jpg)
	}
	.email {
		margin-bottom: 10px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
