body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
}
.banner {
  padding: 150px 0;
}

.banner h1 {
  margin: 10px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner input {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
.banner a {
    margin-left: 8px;
    margin-right: 8px;
}
.btn {
  color: teal;
}
.btn:hover {
  color: pink;
}
.socials {
  margin: 20px;
}
.input {
  margin: 10px;
}